/.venv
data/bronze/parquet-data/2014_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2015_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2016_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2017_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2018_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2019_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2020_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2021_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2022_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/raw-data/2014_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2015_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2016_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2017_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2018_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2019_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2020_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2021_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2022_LoL_esports_match_data_from_OraclesElixir.csv
data/silver/2022/dim_bans_2022.parquet
data/silver/2022/dim_barons_2022.parquet
data/silver/2022/dim_dragons_2022.parquet
data/silver/2022/dim_games_2022.parquet
data/silver/2022/dim_participants_2022.parquet
data/silver/2022/dim_players_2022.parquet
data/silver/2022/dim_teams_2022.parquet
data/silver/2022/fact_gamestats_2022.parquet
data/silver/2022/fact_goldandxpstats_2022.parquet
data/silver/2022/fact_playerstats_2022.parquet
data/silver/2021/dim_bans_2021.parquet
data/silver/2021/dim_barons_2021.parquet
data/silver/2021/dim_dragons_2021.parquet
data/silver/2021/dim_games_2021.parquet
data/silver/2021/dim_participants_2021.parquet
data/silver/2021/dim_players_2021.parquet
data/silver/2021/dim_teams_2021.parquet
data/silver/2021/fact_gamestats_2021.parquet
data/silver/2021/fact_goldandxpstats_2021.parquet
data/silver/2021/fact_playerstats_2021.parquet
data/silver/2014/dim_bans_2014.parquet
data/silver/2014/dim_barons_2014.parquet
data/silver/2014/dim_dragons_2014.parquet
data/silver/2014/dim_games_2014.parquet
data/silver/2014/dim_participants_2014.parquet
data/silver/2014/dim_players_2014.parquet
data/silver/2014/dim_teams_2014.parquet
data/silver/2014/fact_gamestats_2014.parquet
data/silver/2014/fact_goldandxpstats_2014.parquet
data/silver/2014/fact_playerstats_2014.parquet
.gitignore
data/silver/2020/fact_playerstats_2020.parquet
data/silver/2020/fact_goldandxpstats_2020.parquet
data/silver/2020/fact_gamestats_2020.parquet
data/silver/2020/dim_teams_2020.parquet
data/silver/2020/dim_players_2020.parquet
data/silver/2020/dim_participants_2020.parquet
data/silver/2020/dim_games_2020.parquet
data/silver/2020/dim_dragons_2020.parquet
data/silver/2020/dim_barons_2020.parquet
data/silver/2020/dim_bans_2020.parquet
data/silver/2019/fact_playerstats_2019.parquet
data/silver/2019/fact_goldandxpstats_2019.parquet
data/silver/2019/fact_gamestats_2019.parquet
data/silver/2019/dim_teams_2019.parquet
data/silver/2019/dim_players_2019.parquet
data/silver/2019/dim_participants_2019.parquet
data/silver/2019/dim_games_2019.parquet
data/silver/2019/dim_dragons_2019.parquet
data/silver/2019/dim_barons_2019.parquet
data/silver/2019/dim_bans_2019.parquet
.gitignore
data/silver/2015/dim_bans_2015.parquet
data/silver/2015/dim_barons_2015.parquet
data/silver/2015/dim_dragons_2015.parquet
data/silver/2015/dim_games_2015.parquet
data/silver/2015/dim_participants_2015.parquet
data/silver/2015/fact_gamestats_2015.parquet
data/silver/2015/dim_teams_2015.parquet
data/silver/2015/dim_players_2015.parquet
data/silver/2015/fact_goldandxpstats_2015.parquet
data/silver/2015/fact_playerstats_2015.parquet
data/silver/2016/dim_bans_2016.parquet
data/silver/2016/dim_barons_2016.parquet
data/silver/2016/dim_dragons_2016.parquet
data/silver/2016/dim_games_2016.parquet
data/silver/2016/dim_participants_2016.parquet
data/silver/2016/dim_players_2016.parquet
data/silver/2016/dim_teams_2016.parquet
data/silver/2016/fact_gamestats_2016.parquet
data/silver/2016/fact_goldandxpstats_2016.parquet
data/silver/2016/fact_playerstats_2016.parquet
data/silver/2017/dim_bans_2017.parquet
data/silver/2017/dim_barons_2017.parquet
data/silver/2017/dim_dragons_2017.parquet
data/silver/2017/dim_games_2017.parquet
data/silver/2017/dim_participants_2017.parquet
data/silver/2017/dim_players_2017.parquet
data/silver/2017/dim_teams_2017.parquet
data/silver/2017/fact_gamestats_2017.parquet
data/silver/2017/fact_goldandxpstats_2017.parquet
data/silver/2017/fact_playerstats_2017.parquet
data/silver/2018/dim_bans_2018.parquet
data/silver/2018/dim_barons_2018.parquet
data/silver/2018/dim_dragons_2018.parquet
data/silver/2018/dim_games_2018.parquet
data/silver/2018/dim_participants_2018.parquet
data/silver/2018/dim_players_2018.parquet
data/silver/2018/dim_teams_2018.parquet
data/silver/2018/fact_gamestats_2018.parquet
data/silver/2018/fact_goldandxpstats_2018.parquet
data/silver/2018/fact_playerstats_2018.parquet
data/silver/2014/dim_bans.parquet
data/silver/2014/dim_barons.parquet
data/silver/2014/dim_dragons.parquet
data/silver/2014/dim_games.parquet
data/silver/2014/dim_players.parquet
data/silver/2014/dim_participants.parquet
data/silver/2014/dim_teams.parquet
data/silver/2014/fact_amount.parquet
data/silver/2014/fact_game_date.parquet
data/silver/2014/fact_gamestats.parquet
data/silver/2014/fact_goldandxpstats.parquet
data/silver/2014/fact_playerstats.parquet
data/silver/2014/fact_side.parquet
data/silver/2014/fact_teamstats.parquet
data/silver/2015/dim_barons.parquet
data/silver/2015/dim_dragons.parquet
data/silver/2015/dim_games.parquet
data/silver/2015/dim_participants.parquet
data/silver/2015/dim_players.parquet
data/silver/2015/dim_teams.parquet
data/silver/2015/fact_amount.parquet
data/silver/2015/fact_game_date.parquet
data/silver/2015/fact_gamestats.parquet
data/silver/2015/fact_goldandxpstats.parquet
data/silver/2015/fact_playerstats.parquet
data/silver/2015/fact_teamstats.parquet
data/silver/2015/fact_side.parquet
data/silver/2015/dim_bans.parquet
data/silver/2016/dim_bans.parquet
data/silver/2016/dim_barons.parquet
data/silver/2016/dim_dragons.parquet
data/silver/2016/dim_games.parquet
data/silver/2016/dim_participants.parquet
data/silver/2016/dim_players.parquet
data/silver/2016/dim_teams.parquet
data/silver/2016/fact_amount.parquet
data/silver/2016/fact_game_date.parquet
data/silver/2016/fact_gamestats.parquet
data/silver/2016/fact_goldandxpstats.parquet
data/silver/2016/fact_playerstats.parquet
data/silver/2016/fact_side.parquet
data/silver/2016/fact_teamstats.parquet
data/silver/2016/dim_bans.parquet
data/silver/2016/dim_barons.parquet
data/silver/2016/dim_dragons.parquet
data/silver/2016/dim_games.parquet
data/silver/2016/dim_participants.parquet
data/silver/2016/dim_players.parquet
data/silver/2016/dim_teams.parquet
data/silver/2016/fact_amount.parquet
data/silver/2016/fact_game_date.parquet
data/silver/2016/fact_gamestats.parquet
data/silver/2016/fact_goldandxpstats.parquet
data/silver/2016/fact_playerstats.parquet
data/silver/2016/fact_side.parquet
data/silver/2016/fact_teamstats.parquet
data/silver/2017/dim_bans.parquet
data/silver/2017/dim_barons.parquet
data/silver/2017/dim_dragons.parquet
data/silver/2017/dim_games.parquet
data/silver/2017/dim_participants.parquet
data/silver/2017/dim_players.parquet
data/silver/2017/dim_teams.parquet
data/silver/2017/fact_amount.parquet
data/silver/2017/fact_game_date.parquet
data/silver/2017/fact_gamestats.parquet
data/silver/2017/fact_goldandxpstats.parquet
data/silver/2017/fact_playerstats.parquet
data/silver/2017/fact_side.parquet
data/silver/2017/fact_teamstats.parquet
data/silver/2017/dim_bans.parquet
data/silver/2017/dim_barons.parquet
data/silver/2017/dim_dragons.parquet
data/silver/2017/dim_games.parquet
data/silver/2017/dim_participants.parquet
data/silver/2017/dim_players.parquet
data/silver/2017/dim_teams.parquet
data/silver/2017/fact_amount.parquet
data/silver/2017/fact_game_date.parquet
data/silver/2017/fact_gamestats.parquet
data/silver/2017/fact_goldandxpstats.parquet
data/silver/2017/fact_playerstats.parquet
data/silver/2017/fact_side.parquet
data/silver/2017/fact_teamstats.parquet
data/silver/2018/dim_bans.parquet
data/silver/2018/dim_barons.parquet
data/silver/2018/dim_dragons.parquet
data/silver/2018/dim_games.parquet
data/silver/2018/dim_participants.parquet
data/silver/2018/dim_players.parquet
data/silver/2018/dim_teams.parquet
data/silver/2018/fact_amount.parquet
data/silver/2018/fact_game_date.parquet
data/silver/2018/fact_gamestats.parquet
data/silver/2018/fact_goldandxpstats.parquet
data/silver/2018/fact_playerstats.parquet
data/silver/2018/fact_side.parquet
data/silver/2018/fact_teamstats.parquet
data/silver/2018/dim_bans.parquet
data/silver/2018/dim_barons.parquet
data/silver/2018/dim_dragons.parquet
data/silver/2018/dim_games.parquet
data/silver/2018/dim_participants.parquet
data/silver/2018/dim_players.parquet
data/silver/2018/dim_teams.parquet
data/silver/2018/fact_amount.parquet
data/silver/2018/fact_game_date.parquet
data/silver/2018/fact_gamestats.parquet
data/silver/2018/fact_goldandxpstats.parquet
data/silver/2018/fact_playerstats.parquet
data/silver/2018/fact_side.parquet
data/silver/2018/fact_teamstats.parquet
data/silver/2019/dim_bans.parquet
data/silver/2019/dim_barons.parquet
data/silver/2019/dim_dragons.parquet
data/silver/2019/dim_games.parquet
data/silver/2019/dim_participants.parquet
data/silver/2019/dim_players.parquet
data/silver/2019/dim_teams.parquet
data/silver/2019/fact_amount.parquet
data/silver/2019/fact_game_date.parquet
data/silver/2019/fact_gamestats.parquet
data/silver/2019/fact_goldandxpstats.parquet
data/silver/2019/fact_playerstats.parquet
data/silver/2019/fact_side.parquet
data/silver/2019/fact_teamstats.parquet
data/silver/2019/dim_bans.parquet
data/silver/2019/dim_barons.parquet
data/silver/2019/dim_dragons.parquet
data/silver/2019/dim_games.parquet
data/silver/2019/dim_participants.parquet
data/silver/2019/dim_players.parquet
data/silver/2019/dim_teams.parquet
data/silver/2019/fact_amount.parquet
data/silver/2019/fact_game_date.parquet
data/silver/2019/fact_gamestats.parquet
data/silver/2019/fact_goldandxpstats.parquet
data/silver/2019/fact_playerstats.parquet
data/silver/2019/fact_side.parquet
data/silver/2019/fact_teamstats.parquet
data/silver/2020/dim_players.parquet
data/silver/2020/dim_bans.parquet
data/silver/2020/dim_barons.parquet
data/silver/2020/dim_dragons.parquet
data/silver/2020/dim_games.parquet
data/silver/2020/dim_participants.parquet
data/silver/2020/dim_teams.parquet
data/silver/2020/fact_amount.parquet
data/silver/2020/fact_game_date.parquet
data/silver/2020/fact_gamestats.parquet
data/silver/2020/fact_goldandxpstats.parquet
data/silver/2020/fact_playerstats.parquet
data/silver/2020/fact_side.parquet
data/silver/2020/fact_teamstats.parquet
data/silver/2021/dim_barons.parquet
data/silver/2021/dim_dragons.parquet
data/silver/2021/dim_games.parquet
data/silver/2021/dim_participants.parquet
data/silver/2021/dim_bans.parquet
data/silver/2021/dim_players.parquet
data/silver/2021/dim_teams.parquet
data/silver/2021/fact_amount.parquet
data/silver/2021/fact_game_date.parquet
data/silver/2021/fact_gamestats.parquet
data/silver/2021/fact_goldandxpstats.parquet
data/silver/2021/fact_playerstats.parquet
data/silver/2021/fact_side.parquet
data/silver/2021/fact_teamstats.parquet
data/silver/2022/dim_bans.parquet
data/silver/2022/dim_dragons.parquet
data/silver/2022/dim_games.parquet
data/silver/2022/dim_participants.parquet
data/silver/2022/dim_players.parquet
data/silver/2022/dim_teams.parquet
data/silver/2022/fact_amount.parquet
data/silver/2022/fact_game_date.parquet
data/silver/2022/fact_gamestats.parquet
data/silver/2022/fact_goldandxpstats.parquet
data/silver/2022/fact_playerstats.parquet
data/silver/2022/fact_side.parquet
data/silver/2022/fact_teamstats.parquet
