/.venv
data/bronze/parquet-data/2014_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2015_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2016_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2017_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2018_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2019_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2020_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2021_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/parquet-data/2022_LoL_esports_match_data_from_OraclesElixir.parquet
data/bronze/raw-data/2014_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2015_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2016_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2017_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2018_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2019_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2020_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2021_LoL_esports_match_data_from_OraclesElixir.csv
data/bronze/raw-data/2022_LoL_esports_match_data_from_OraclesElixir.csv